<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bantruc_core</title>
    @*<script src="../webphone_api.js?jscodeversion=290"></script>*@
    <link href="~/webphone/webphone/css/click2call/click2call.css" rel="stylesheet" />
    <link href="~/bootstrap-5.1.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">bantruc_core</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Bàn trực</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="events" style="width: 13em;"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - bantruc_core - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        //webphone_api.onAppStateChange(function (state) {

        //    if (state === 'loaded') {
        //        webphone_api.setparameter('serveraddress', '192.168.137.1');
        //        webphone_api.setparameter('username', '300');
        //        webphone_api.setparameter('password', '300');
        //        webphone_api.start();
        //    }

        //});
        //function Call(sipnumber) {
        //    webphone_api.call(sipnumber);
        //}

        //function Hangup() {
        //    webphone_api.hangup();
        //}


    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap-5.1.1-dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
